html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}
.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
}
/*implementation de la partie entete*/
header {
  background-color: black;
  margin:0;

}
header ul  {
  margin: 0;
  padding: 0;
}
header ul a {
  color:#fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}
header li {
  list-style: none;
}
header ul:after {
  content: "";
  display: block;
  clear: both;
}
.right{
  float: right;
}
.left{
  float:left;
}
/*fin de la partie entete*/
/*arrangement du corps de la page*/
.main-header img {
  width: 30%;
  padding-top: 80px;
    /* image de l'entete */
}
.about {
  font-size: 15px;
  height: auto;
/* partie about */
}
/* arrangement de la partie fonction */
.function {
  background-color:#B0C0E4;
  margin: auto;
  padding: 10px;

}
.function-images {
display:flex;
justify-content:center;
}
.function-image img{
width: 50%;
}
.function-image {
margin: auto;
}
/* fin de la partie fonction */



/*implementation du footer*/
footer p {
  font-size: 12px;
  color: #fff;
  padding:0px;
  margin: 0;
  display:block;

}
footer{
  height: 50px;
  background-color: #03111F;
  clear: both;
  padding:20px;
}
